version: '3'
services:
<% if postgres? -%>
  postgres:
    restart: always
    image: postgres:15.2-alpine
    ports:
      - "<%= 5432 + port_offset -%>:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
<% end -%>
volumes:
<% if postgres? -%>
  postgres:
<% end -%>
