data "terraform_remote_state" "core" {
  backend = "s3"

  config = {
    bucket  = "quilt-terraform"
    key     = "${terraform.workspace}/terraform.tfstate"
    profile = "quilt-mfa"
    region  = "us-west-2"
  }
}

data "terraform_remote_state" "service" {
  backend = "s3"
  workspace = terraform.workspace

  config = {
    bucket    = "quilt-terraform"
    key       = "${local.app_name}/terraform.tfstate"
    profile   = "quilt-mfa"
    region    = "us-west-2"
  }
}
